* {
    font-family: monospace;
    font-size: 16px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: black;
    border: 1px solid white;
    border-radius: 0;
}

.modules-left {
}

.modules-center {
    margin-left: 5px;
    margin-right: 5px;
}

.modules-right {
}

#workspaces button {
    border: none;
    border-radius: 0px;
    color: white;
    background: black;
}

#workspaces button.active {
    color: red;
}

#workspaces button.persistent {
    color: gray;
}

#workspaces button:hover {
    box-shadow: none;
    transition: none;
}

#clock,
#tray,
#pulseaudio,
#wireplumber,
#battery,
#backlight,
#network {
    padding: 0 10px;
    color: white;
    background: black;
}

#clock {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#wireplumber {
}

#wireplumber.muted {
}

#battery {
}

#battery.charging, #battery.plugged {
}

#battery.critical:not(.charging) {
    color: red;
}

#backlight {
}

#network {
}

#network.disconnected {
}
